<div class="container">
    <div class="dialog_failed_icon">
        <div class="dialog_warning">
            <span>!</span>
        </div>
    </div>
    <div class="dialog_failed_title">Are you sure?</div>
    <ng-container *ngIf=" action === deActive ">Deactive Project:{{ projectName }}</ng-container>
    <ng-container *ngIf=" action === active ">Active Project:{{ projectName }}</ng-container>
    <ng-container *ngIf=" action === delete " >Delete Project:{{ projectName }}</ng-container>
    <div class="btn_dialog_failed">
        <button mat-button mat-dialog-close class="btn_cancel"
            style="margin-right: 15px; color:#555; background-color: #efefef;">Cancel</button>
        <button (click)="onclickProject()" mat-button class="btn_cancel">Yes</button>
    </div>
</div>