<div class="container">
    <div class="content">
        <div class="title_Login">
            <a class="title_Login_txt" href="">Timesheet</a>
        </div>
        <div class="form_login">
            <div class="form_login_1">
                <h4>Log in</h4>
                <form action="" [formGroup]="loginForm">
                    <div class="form_submit">
                        <div class="input_account">
                            <div class="material_icons">
                                <mat-icon class="material_icon">person</mat-icon>
                            </div>
                            <div class="material_form_field">
                                <mat-form-field class="material_form_field_1">
                                    <mat-label>User name or email</mat-label>
                                    <input formControlName="username" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="input_password">
                            <div class="material_icons">
                                <mat-icon class="material_icon">lock</mat-icon>
                            </div>
                            <div class="material_form_field">
                                <mat-form-field class="material_form_field_1">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="password" matInput type="password">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button (click)="submitLogin()" mat-raised-button color="accent" [disabled]="loginForm.invalid">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>