<div class="p-[20px] h-[480px] overflow-y-scroll">
    <table class="w-[80%]">
        <thead class="p-[10px]">
            <tr class="text-left">
                <th>Name</th>
                <th>HOURS</th>
                <th></th>
                <th>Billable Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-bold">Total</td>
                <td></td>
                <td>
                    <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                </td>
                <td>(0%)</td>
            </tr>

            <tr *ngFor="let listteam of listViewTeam">
                <td>{{ listteam.userName }}</td>
                <td></td>
                <td>
                    <mat-progress-bar mode="determinate" [value]="listteam.totalWorkingTime"></mat-progress-bar>
                </td>
                <td>(0%)</td>
            </tr>
        </tbody>
    </table>
</div>