

.dialog_input_select{
    display: flex;
    flex-direction: column;
}

.dialog_input_select{
    width: 400px;
}

.btn_cancel{
    margin-right: 10px;
}

.dialog_btn{
    float: right;
    margin-top: 50px;
}