<div class="admin_task_content-content">
    <div class="admin_task_title">
        <h5>Common Task ({{ lengthCommontask }})</h5>
        <p>These tasks are automatically added to all new projects</p>
    </div>
    <table class="table_common_task">
        <thead>
            <tr>
                <th class=" title_table pl-5 flex">Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let commonTask of commontasks">
            <tr>
                <td class="table_left">
                    <button mat-raised-button
                        (click)="openDialogEdit(true, commonTask.name, commonTask.type, commonTask.id)">Edit</button>
                    <div class="table_text">{{ commonTask.name }}</div>
                </td>
                <td class="table_right">
                    <ng-container
                        *ngIf="commonTask.isDeleted; then unarchiveTemplate else archiveTemplate "></ng-container>
                    <ng-template #archiveTemplate>
                        <div class="table_right_btn">
                            <button mat-raised-button
                                (click)="toggleArchivenandDel(commonTask.id,commonTask.name, archiveTask)">Archive</button>
                            <button mat-raised-button disabled>Delete</button>
                        </div>
                    </ng-template>
                    <ng-template #unarchiveTemplate>
                        <div class="table_right_btn">
                            <button mat-raised-button
                                (click)="toggleArchivenandDel(commonTask.id, commonTask.name, unarchiveTask)">Unarchive</button>
                            <button mat-raised-button
                                (click)="toggleArchivenandDel(commonTask.id, commonTask.name, deleteTask)">Delete</button>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="admin_task_title">
        <h5>Other Task ({{ lengthOthertask }})</h5>
        <p>These task must be manually added to projects</p>
    </div>
    <table class="table_common_task">
        <thead>
            <tr>
                <th class=" title_table pl-5 flex">Name</th>
            </tr>
        </thead>
        <tbody *ngFor="let otherTask of othertasks">
            <tr>
                <td class="table_left">
                    <button mat-raised-button
                        (click)="openDialogEdit(true, otherTask.name, otherTask.type, otherTask.id)">Edit</button>
                    <div class="table_text">{{ otherTask.name }}</div>
                </td>
                <td class="table_right">
                    <div class="table_right_btn">
                        <button mat-raised-button
                            (click)="toggleArchivenandDel(otherTask.id, otherTask.name, deleteTask)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>