<div class="admin_task">
    <header class="admin_task_header">
        <h2>
            Manage Tasks
        </h2>
        <button (click)="refreshTask()" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <div class="material_icon_refesh">
                    <mat-icon>refresh</mat-icon>
                    Refresh
                </div>
            </button>
        </mat-menu>
    </header>
    <div class="admin_task_content p-5">
        <div class="admin_task_btn_and_search flex">
            <div class="admin_task_btn w-1/3">
                <button mat-raised-button color="warn" (click)="openDialogAdd(false, 0)">
                    <span class="flex items-center">
                        <mat-icon>add</mat-icon>
                        New Task
                    </span>
                </button>
            </div>
            <div class="admin_task_search w-full">
                <mat-form-field class="w-2/4" appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search by task name</mat-label>
                    <input matInput (keyup.enter)="search()" [(ngModel)]="searchTerm">
                </mat-form-field>
            </div>  
        </div>
        <app-list-task [othertasks]="othertasks" [commontasks]="commontasks" [lengthCommontask]="lengthCommontask"
            [lengthOthertask]="lengthOthertask"></app-list-task>
    </div>
</div>